@model HookYarnSequinsGallery.Models.Product

@{
    ViewBag.Title = Model.DisplayText;
    ViewBag.ShowBackBar = true;
}


<h2>Product Details</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label><b>Name:</b></label> @Model.ProductName</h5>
            <h5><label><b>In Stock:</b></label> @Model.Inventory</h5>
            @if (Model.PopularItem)
            {
                <h5><label><b>Popular Item:</b></label> Get them while they last!</h5>
            }            
            <h5><label><b>Description:</b></label> @Html.Raw(Model.DescriptionHtml)</h5>
        </div>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>