@model HookYarnSequinsGallery.Models.Product[]

@{
    ViewBag.Title = "Products";
}

<h2>ViewBag.Title</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3">
            <h4>@product.DisplayText</h4>
            <img src="/Images/@product.CoverImageFileName"
                 alt="@product.DisplayText"
                 class="img-responsive" />
        </div>
    }
</div>

